# Copyright 2023 The CeresDB Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[workspace.package]
version = "1.2.6-alpha"
authors = ["CeresDB Authors <ceresdbservice@gmail.com>"]
edition = "2021"
license = "Apache-2.0"

[workspace]
resolver = "2"
# In alphabetical order
members = [
    "analytic_engine",
    "benchmarks",
    "catalog",
    "catalog_impls",
    "cluster",
    "common_types",
    "components/alloc_tracker",
    "components/arena",
    "components/arrow_ext",
    "components/bytes_ext",
    "components/codec",
    "components/future_ext",
    "components/hash_ext",
    "components/id_allocator",
    "components/logger",
    "components/macros",
    "components/message_queue",
    "components/metric_ext",
    "components/notifier",
    "components/object_store",
    "components/panic_ext",
    "components/parquet_ext",
    "components/partitioned_lock",
    "components/profile",
    "components/runtime",
    "components/sampling_cache",
    "components/size_ext",
    "components/skiplist",
    "components/table_kv",
    "components/test_util",
    "components/time_ext",
    "components/timed_task",
    "components/toml_ext",
    "components/trace_metric",
    "components/trace_metric_derive",
    "components/trace_metric_derive_tests",
    "components/tracing_util",
    "df_engine_extensions",
    "df_operator",
    "integration_tests",
    "integration_tests/sdk/rust",
    "interpreters",
    "meta_client",
    "partition_table_engine",
    "proxy",
    "query_engine",
    "query_frontend",
    "remote_engine_client",
    "router",
    "server",
    "src/ceresdb",
    "src/wal",
    "system_catalog",
    "table_engine",
    "tools",
]

[workspace.dependencies]
alloc_tracker = { path = "components/alloc_tracker" }
arrow = { version = "43.0.0", features = ["prettyprint"] }
arrow_ipc = { version = "43.0.0" }
arrow_ext = { path = "components/arrow_ext" }
analytic_engine = { path = "analytic_engine" }
arena = { path = "components/arena" }
async-stream = "0.3.4"
async-trait = "0.1.72"
atomic_enum = "0.2.0"
base64 = "0.13"
bytes = "1"
bytes_ext = { path = "components/bytes_ext" }
catalog = { path = "catalog" }
catalog_impls = { path = "catalog_impls" }
ceresdbproto = "1.0.23"
codec = { path = "components/codec" }
chrono = "0.4"
clap = "3.0"
clru = "0.6.1"
cluster = { path = "cluster" }
criterion = "0.5"
common_types = { path = "common_types" }
datafusion = { git = "https://github.com/CeresDB/arrow-datafusion.git", rev = "9c3a537e25e5ab3299922864034f67fb2f79805d" }
datafusion-proto = { git = "https://github.com/CeresDB/arrow-datafusion.git", rev = "9c3a537e25e5ab3299922864034f67fb2f79805d" }
df_operator = { path = "df_operator" }
df_engine_extensions = { path = "df_engine_extensions" }
future_ext = { path = "components/future_ext" }
etcd-client = { version = "0.10.3", features = ["tls"] }
env_logger = "0.6"
futures = "0.3"
generic_error = { path = "components/generic_error" }
hash_ext = { path = "components/hash_ext" }
hex = "0.4.3"
hyperloglog = { git = "https://github.com/jedisct1/rust-hyperloglog.git", rev = "425487ce910f26636fbde8c4d640b538431aad50" }
id_allocator = { path = "components/id_allocator" }
influxql-logical-planner = { git = "https://github.com/CeresDB/influxql.git", rev = "acbd3ad7651f2deb74857155bea892f88926da57", package = "iox_query_influxql" }
influxql-parser = { git = "https://github.com/CeresDB/influxql.git", rev = "acbd3ad7651f2deb74857155bea892f88926da57", package = "influxdb_influxql_parser" }
influxql-query = { git = "https://github.com/CeresDB/influxql.git", rev = "acbd3ad7651f2deb74857155bea892f88926da57", package = "iox_query" }
influxql-schema = { git = "https://github.com/CeresDB/influxql.git", rev = "acbd3ad7651f2deb74857155bea892f88926da57", package = "schema" }
interpreters = { path = "interpreters" }
itertools = "0.10.5"
lz4_flex = { version = "0.11", default-features = false, features = ["frame"] }
lazy_static = "1.4.0"
logger = { path = "components/logger" }
lru = "0.7.6"
macros = { path = "components/macros" }
message_queue = { path = "components/message_queue" }
meta_client = { path = "meta_client" }
metric_ext = { path = "components/metric_ext" }
notifier = { path = "components/notifier" }
object_store = { path = "components/object_store" }
panic_ext = { path = "components/panic_ext" }
partitioned_lock = { path = "components/partitioned_lock" }
partition_table_engine = { path = "partition_table_engine" }
parquet_ext = { path = "components/parquet_ext" }
parquet = { version = "43.0.0" }
paste = "1.0"
pin-project-lite = "0.2.8"
pprof = "0.12.1"
profile = { path = "components/profile" }
prom-remote-api = { version = "0.2.2" }
prometheus = "0.12"
prometheus-static-metric = "0.5"
prost = "0.11"
proxy = { path = "proxy" }
query_engine = { path = "query_engine" }
query_frontend = { path = "query_frontend" }
rand = "0.7"
remote_engine_client = { path = "remote_engine_client" }
reqwest = { version = "0.11", default-features = false, features = [
    "rustls-tls",
    "json",
] }
router = { path = "router" }
runtime = { path = "components/runtime" }
sampling_cache = { path = "components/sampling_cache" }
snafu = { version = "0.6.10", features = ["backtraces"] }
serde = "1.0"
serde_json = "1.0.60"
server = { path = "server" }
size_ext = { path = "components/size_ext" }
smallvec = "1.6"
slog = "2.7"
spin = "0.9.6"
sqlparser = { version = "0.35", features = ["serde"] }
system_catalog = { path = "system_catalog" }
table_engine = { path = "table_engine" }
table_kv = { path = "components/table_kv" }
tempfile = "3.1.0"
test_util = { path = "components/test_util" }
time_ext = { path = "components/time_ext" }
toml = "0.7"
toml_ext = { path = "components/toml_ext" }
timed_task = { path = "components/timed_task" }
tracing_util = { path = "components/tracing_util" }
trace_metric = { path = "components/trace_metric" }
trace_metric_derive = { path = "components/trace_metric_derive" }
trace_metric_derive_tests = { path = "components/trace_metric_derive_tests" }
tonic = "0.8.1"
tokio = { version = "1.29", features = ["full"] }
wal = { path = "src/wal" }
xorfilter-rs = { git = "https://github.com/CeresDB/xorfilter", rev = "ac8ef01" }
zstd = { version = "0.12", default-features = false }
regex = "1"

# This profile optimizes for good runtime performance.
[profile.release]
# reference: https://doc.rust-lang.org/rustc/codegen-options/index.html#codegen-units
codegen-units   = 1
debug           = true
overflow-checks = true

# This profile is used to produce a smaller (no symbols) binary with a little bit poorer performance,
# but with a faster speed and low memory consumption required by compiling.
[profile.release-slim]
inherits      = "release"
codegen-units = 16
debug         = false
strip         = true
