name: Publish Nightly Docker image

on:
  workflow_dispatch:
  schedule:
    - cron: '10 20 * * *'

jobs:
  docker:
    if: github.repository_owner == 'CeresDB'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set environment variables
        run: |
            echo "BUILD_DATE=$(TZ=':Asia/Shanghai' date '+%Y%m%d')" >> $GITHUB_ENV
            # only first 7 chars of commit id
            echo "COMMIT_ID=${GITHUB_SHA::7}" >> $GITHUB_ENV
      - name: Build and Push CeresDB Server Docker Image
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: ceresdb/ceresdb-server:nightly-${{ env.BUILD_DATE }}-${{ env.COMMIT_ID }}
