name: Deploy Use Guide

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'docs/user-guide/**'

env:
  MDBOOK_VERSON: v0.4.20

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Install mdbook
      run: |
        mkdir mdbook
        curl -sSL https://github.com/rust-lang/mdBook/releases/download/${MDBOOK_VERSION}/mdbook-${MDBOOK_VERSION}-x86_64-unknown-linux-gnu.tar.gz | tar -xz --directory=./mdbook
        echo `pwd`/mdbook >> $GITHUB_PATH
    - name: Deploy GitHub Pages
      run: |
        cd docs/user-guide
        mdbook build
        git worktree add gh-pages gh-pages
        git config user.name "Deploy from CI"
        git config user.email ""
        cd gh-pages
        # Delete the ref to avoid keeping history.
        git update-ref -d refs/heads/gh-pages
        rm -rf *
        mv ../book/* .
        # Add custom domain
        echo "docs.ceresdb.io" > CNAME
        git add .
        git commit -m "Deploy $GITHUB_SHA to gh-pages"
        git push --force
